#profilePage {
    padding: 20px 0 0 65px;

    @include mobile-only {
        padding: 20px;
        margin: auto;
    }

    #content {
        display: flex;

        .charts {
            display: flex;
            align-items: center;
            justify-content: space-around;

            &>div {
                margin: 10px;
            }
        }
    }
}