#profilePage {
    display: flex;
    flex-direction: column;
    padding: 10px 0 0 35px;
    width: 89%;

    @include mobile-only {
        padding: 20px;
        margin: auto;
    }

    #content {
        display: flex;
        width: 100%;

        @include mobile-only {
            flex-wrap: wrap;
        }

        .charts {
            width: 70%;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-around;

            .squaresCharts {
                width: 100%;
                margin: 10px;
                display: flex;
                align-items: center;
                justify-content: space-around;
                flex-wrap: wrap;

                &>div {
                    width: 31%;
                    min-width: 300px
                }
            }
        }

        .keyDatas {
            width: 30%;
        }
    }
}