.keyDatas {
    width: auto;

    ul li {
        display: flex;
        padding: 20px 30px;
        background: #FBFBFB;
        margin: 10px 5px;
        border-radius: 5px;
        min-width: fit-content;
        width: 200px;

        @include mobile-only {
            margin: 10px auto;
        }

        div {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            padding: 10px;

            span:first-child {
                font-size: 1.1rem;
                font-weight: 900;
                margin-bottom: 5px;
            }

            span:last-child {
                color: #74798C;
            }
        }

        img {
            padding: 15px;
            border-radius: 5px;
        }
    }

    .keyDatas_list {
        display: flex;
        list-style: none;
        flex-direction: column;
        height: 100%;

        @include mobile-only {
            list-style: none;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            margin: auto;
            padding: 0;
            flex-direction: row;
        }

        .keyDatas_calorie {
            img {
                background: #ff000012;
            }
        }

        .keyDatas_protein {
            img {
                background: #4AB8FF12;
            }
        }

        .keyDatas_carbohydrate {
            img {
                background: #F9CE2312;
            }
        }

        .keyDatas_lipid {
            img {
                background: #FD518112;
            }
        }
    }
}